<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        a{
            vertical-align: middle
        }
    </style>
</head>
<body>
    <div id="abc" class="aaa bbb">
        dsvsdv
    </div>
    <script>
        window.onload = function(){
            var abc = document.getElementById("abc");
            abc.onclick = function(){
                abc.classList.remove("bbb");
            }
        }
    </script>
</body>
</html>